{
    order http_cache before reverse_proxy
}

{% raw %}{$DJANGO_DOMAIN_NAME}{% endraw %} {
    reverse_proxy django:5000 {
        header_up X-Real-IP {http.reverse_proxy.upstream.remote}
    }
    http_cache {
        cache_type in_memory
        match_path /
    }
    encode gzip
    root * /srv
    file_server
}

{% if cookiecutter.use_react == 'y' %}
www.{% raw %}{$REACT_DOMAIN_NAME}{% endraw %} {
    redir https://{% raw %}{$REACT_DOMAIN_NAME}{% endraw %}
}

{% raw %}{$REACT_DOMAIN_NAME}{% endraw %} {
  encode gzip
  root * /srv/react
  file_server
  try_files {path} {path}/ /
}

{% endif %}
