www.{% raw %}{$DJANGO_DOMAIN_NAME}{% endraw %} {
    redir https://{% raw %}{$DJANGO_DOMAIN_NAME}{% endraw %}
}

{% raw %}{$DJANGO_DOMAIN_NAME}{% endraw %} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        header_upstream X-CSRFToken {~csrftoken}
        except /static /media  # Serve static and media files
    }
    root /srv
    log stdout
    errors stdout
    cache
    gzip
}

{% if cookiecutter.use_react == 'y' %}
www.{% raw %}{$REACT_DOMAIN_NAME}{% endraw %} {
    redir https://{% raw %}{$REACT_DOMAIN_NAME}{% endraw %}
}

{% raw %}{$REACT_DOMAIN_NAME}{% endraw %} {
  rewrite {
      to {path} {path}/ /
  }
  root /srv/react
  gzip
  log stdout
  errors stdout
}

{% endif %}
